html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
*::selection {
  background: #f4d442;
  color: black;
}

body {
  background: #eee;
  line-height: 1;
  padding-bottom: 3em;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Headland One';
  font-style: normal;
  font-weight: 400;
  src: local('Headland One'), local('HeadlandOne-Regular'),
    url(./Headland.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 0 0;
  line-height: 1.3;
}
p,
ul,
blockquote,
ol {
  margin: 1.5rem 0 0 0;
  line-height: 1.3;
}
.container {
  width: 60rem;
  max-width: 94%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background: #f4d442;
  padding: 10px 0;
}
header a {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: black;
  text-decoration: none;
  font-family: monospace;
}

h1 {
  font-family: 'Headland One', serif;
  font-size: 2rem;
}
h2 {
  font-family: 'Headland One', serif;
  font-size: 1.5rem;
}
h3 {
  font-family: 'Headland One', serif;
  font-size: 1.3rem;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  padding-top: 2rem;
  font-weight: bold;
}
h4 {
  font-family: 'Headland One', serif;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1;
}
h5 {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  display: inline-block;
  background: #fff;
  clear: both;
  padding: 0.5rem;
  color: #888;
}
p,
li {
  font-size: 1.2rem;
}
strong {
  font-weight: bold;
}
.logo {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  font-weight: normal;
  width: 1.8rem;
  text-align: center;
  height: 1.8rem;
  display: inline-block;
  font-size: 1.6rem;
  background: black;
  color: #f4d442;
}
.logo strong {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  box-sizing: border-box;
  padding-top: 0.15rem;
  font-weight: bold;
}
article {
  margin: 3rem 0 0 0;
}

blockquote {
  background: white;
  border-left: 10px solid #f4d442;
  padding: 1rem;
}
blockquote p {
  font-style: italic;
  margin: 0;
}
blockquote footer {
  margin: 1rem 0 0 0;
}
blockquote cite {
  padding-left: 0.5rem;
}
blockquote cite:before {
  content: '--';
  padding-right: 0.5em;
}

.graph {
  padding: 0.5rem;
  margin: 1rem 0 0 0;
}
.graph-container {
  background: #fff;
}
.graph h3 {
  margin: 0;
  color: #444;
  background: #fff;
  text-align: center;
  display: inline-block;
  border: none;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.legend {
  margin: 0;
  overflow: hidden;
  display: inline-block;
}
.legend li {
  background: #fff;
  list-style: none;
  float: left;
  margin-right: 0.2rem;
  padding: 0.4rem;
}
.legend li:before {
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.4rem;
  display: inline-block;
}
.graph .ct-series-a .ct-area {
  fill: #f1405b;
}
.graph .ct-series-b .ct-area {
  fill: #419ff2;
}
.graph .ct-series-a .ct-line {
  stroke: #f1405b;
}
.graph .ct-series-b .ct-line {
  stroke: #419ff2;
}
.graph .ct-series-c .ct-line {
  stroke: #34d15b;
}
.graph .ct-series-d .ct-line {
  stroke: #f47a42;
}
.graph .ct-series-e .ct-line {
  stroke: #cc33a8;
}
.legend li:nth-child(1):before {
  background: #f1405b;
}
.legend li:nth-child(2):before {
  background: #419ff2;
}
.legend li:nth-child(3):before {
  background: #34d15b;
}
.legend li:nth-child(4):before {
  background: #f47a42;
}
.legend li:nth-child(5):before {
  background: #cc33a8;
}
.container .ct-label.ct-horizontal.ct-end {
  transform: translate(-50%, 0);
  display: block;
  text-align: center;
  white-space: nowrap;
}
.graph cite:before {
  content: 'Source: ';
}
.graph cite {
  background: #fff;
  float: right;
  font-size: 0.8rem;
  padding: 0.4rem;
}
.graph .ct-point {
  stroke-width: 8px;
}
li {
  list-style: outside;
  margin: 0.6rem 0 0 1.6rem;
}
ol li {
  list-style: decimal;
}
.push-right {
  float: right;
  margin: 1rem 0 0 1rem;
}
.bordered {
  border: 1px solid #ccc;
}
figure {
  text-align: center;
  max-width: 90%;
  overflow: hidden;
  margin: 1.5rem 0 0 0;
}
figure img {
  max-width: 100%;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
}
figure p {
  margin: 0;
}
figcaption {
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.5rem;
  clear: both;
}

table {
  background: white;
  margin: 1rem 0 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
th,
td {
  text-align: center;
  padding: 0.5rem 1rem;
}
th {
  font-weight: bold;
  padding: 1rem;
}
tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
tr.lay,
.table-legend .lay {
  background: rgba(234, 63, 199, 0.1);
  border-left: 3px solid rgb(234, 63, 199);
}
tr.back,
.table-legend .back {
  background: rgba(63, 128, 234, 0.1);
  border-left: 3px solid rgb(63, 128, 234);
}
.table-legend {
  margin: 1rem 0 0 0;
  overflow: hidden;
}
.table-legend li {
  float: left;
  list-style: none;
  margin: 0 1rem 0 0;
  padding: 0.5rem;
}

.bet {
  display: inline-block;
  max-width: 100%;
  margin: 1rem 1rem 0 0;
}
.bet > div {
  padding: 1rem;
  background: white;
  overflow: hidden;
}
.bet .size,
.bet .price {
  float: left;
  width: 50%;
  padding: 0 0.5rem;
  text-align: center;
  box-sizing: border-box;
}
.bet .size strong,
.bet .price strong {
  display: block;
}
.back .bet-selection strong {
  color: rgb(63, 128, 234);
}
.lay .bet-selection strong {
  color: rgb(234, 63, 199);
}
.market-summary {
  margin: 1rem 2rem 0 0;
  display: inline-block;
}
.market-summary div {
  background: #fff;
  padding: 1rem;
}
.market-summary table td {
  text-align: left;
}
.loss {
  color: #a82828;
}
.win {
  color: #28a846;
}
.subtotal {
  border-left: 3px solid rgba(0, 0, 0, 0.4);
}
.total {
  border-left: 3px solid rgba(0, 0, 0, 0.8);
}
.total td {
  font-weight: bold;
}
.pnl {
  position: fixed;
  bottom: 0;
  right: 1rem;
  background: white;
  padding: 0.5rem;
}
@media (max-width: 768px) {
  .graph cite {
    display: none;
  }
  .graph .ct-point {
    stroke-width: 3px;
  }
  .push-right {
    float: none;
    margin: 1rem auto 0 auto;
  }
  .market-summary {
    margin-right: 0;
    max-width: 100%;
  }
  td {
    padding: 0.5rem;
  }
  .pnl {
    position: static;
    margin: 1rem 1rem 0 0;
    float: right;
  }
}
h2 span {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.2rem 0.4rem;
}
h2 span.win {
  color: #fff;
  background: #28a846;
}
h2 span.loss {
  color: #fff;
  background: #a82828;
}
